{% include "header.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Completado</title>
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}" />
    
</head>
<body>

    <div class="error">
          <div class="box__description-container">
            <div><h2><strong style="color:black" >Enhorabuena {{request.COOKIES.usuario}} !</strong></h2></div>
            <div>Pedido completado correctamente</div>
          </div>
          <br/>
          <div class="happyStitch">
            <img src="{% static 'img/logo.png' %}" width="200px" height="190px"  alt="sadStitch">
          </div>

          
<a href="/home/" class="btn-goback-link"><button class="btn-goback">Sigue Comprando</button></a>
  
      </div>
   
</body>
</html>
