{% include "header.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRADO</title>
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/error_style.scss' %}" />
</head>
<body>

    <div class="error">
          <div class="box__description-container">
            <div><h2><strong class="success">Bienvenido/a {{nombre}} !</strong></h2></div>
            <div>Tu cuenta ha sido creada con éxito en Stitch's Store. Haga click <a href="/usuario/perfil">aquí</a> si desea completa el perfil</div>
          </div>
          <br/>
          <div class="happyStitch">
            <img src="{% static 'img/alohaStitch.gif' %}" width="220px" height="190px"  alt="sadStitch">
          </div>
<br/>

          <a href="/home/"><button class="btn-goback" >Volver</button></a>
  
      </div>
   
</body>
</html>
