<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>asdasd</h1>
    <form action="/loginPOST/" method = "POST">
        {% csrf_token %}
        <!-- añadir seguridad de password con javascript-->
        <label for="nickname">Email o Nombre de Usuario</label><br>
        <input type="text" id="nickname" name="nickname" placeholder="ej: ricardo@gmail.com"><br>
        <label for="password">Last name:</label><br>
        <input type="password" id="password" name="password" placeholder="************"><br><br>
        <input type="submit" value="Submit">
      </form> 
</body>
</html>