<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navegador</title>
</head>
<body>
    <div class="encabezado">

        <nav class="navegacionHome">
            {% for etiqueta in etiquetas %}
            <a href="/home/etiquetas/{{etiqueta.nombre}}">{{etiqueta.nombre}}</a>
            {%endfor%}
            <!-- si esta en register: hay que poner el enlace de login o quitar el siguiente enlace -->



            <!-- <div class="menu"> -->
                
            <button class="btn btn-dark dropdown-toggle dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                ESTACIONES
            </button>
            <ul class="dropdown-menu ">
                {%for estacion in estaciones %}
                <li><a class="drop" href="/home/estaciones/{{estacion.nombre}}" id = "{{estacion.id}}">{{estacion.nombre}}</a></li>
                {%endfor%}
            </ul>
            <!-- <div class="icono-favoritos"> -->
            <a href="/mostrarFavoritos/" class="a-fav"><i class="fa-solid fa-heart favoritos2"></i></a>

            <a href="/mostrarCarrito/"><i class="fa-solid fa-cart-shopping cart-icon2"></i></a>


            

            <button class="btn userButton" type="button" data-bs-toggle="dropdown" >
                <i class="fa-solid fa-user user"></i>
            </button>
            <ul class="dropdown-menu ">
                <li><a class="drop" href="/usuario/perfil">Perfil</a></li>
                <li><a class="drop" href="/mostrarCarrito/">Carrito</a></li>
                
                {% if admin.rol %}
                <li><a class="drop" href="/adminController/">Admin</a></li>
                {%endif%}
                <li><a class="drop" href="#">Salir</a></li>
            </ul>


            <!-- <div class="formBuscar"> -->
            <form class="form-buscar">
                <input class="buscar" id="buscar" type="search" placeholder="busca una prenda" aria-label="Search">
                <button class="btn btn-dark" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <!-- </div> -->


        </nav>
    </div>
</body>
</html>