<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/register_style.css' %}" />
</head>

<body>
  {% include "header.html" %}

  <div class="formLogin">
    <div class="titulo">
      <legend>Registrarse</legend>
    </div>
    <form action="/registerPOST/" method="POST">
      {% csrf_token %}

      <!-- añadir seguridad de password con javascript-->
        <input type="hidden" id="rol" name="rol" value="0"/>
      <div class="input-register">
        <label for="nickname">Nombre de Usuario</label><br />
        <i class="fa-solid fa-user"></i>
        <input type="text" id="nickname" name="nickname" placeholder="ej: ricardo@gmail.com" /><br />
      </div>
      <div class="input-register">
        <label for="email">Email:</label><br />
        <i class="fa-solid fa-envelope"></i>
        <input type="email" id="email" name="email" placeholder="ej: ricardo@gmail.com" />
      </div>

      <div class="input-register">
        <label for="password">Contraseña:</label><br />
        <i class="fa-solid fa-lock"></i>
        <input type="password" id="password" name="password" placeholder="************" />
      </div>

      <div class="input-register">
        <label for="password_repeat">Vuelve a Escribir la Contraseña:</label><br />
        <i class="fa-solid fa-lock"></i>
        <input type="password" id="password_repeat" name="password_repeat" placeholder="************" />
      </div>
      <br /><br />
      
      <input type="submit" class="btn-enviar" value="registrar" /><br/>
      <br/>
     
      <a href="/login/"class="link">Ya tienes una cuenta? Inicia sesión<</a>

    </form>
</body>

</html>