{% include "header.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR NICKNAME</title>
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/error_style.scss' %}" />
</head>
<body>

    <div class="error">
          <div class="box__description-container">
            <div><strong>Whoops!</strong></div>
            <div>Parece que el nombre de usuario que has introducido ya existe o es inválido. Inténtelo de nuevo</div>
          </div>
          <br/>
          <div class="sadStitch">
            <img src="{% static 'img/sadStitch5.gif' %}" width="220px" height="180px"  alt="sadStitch">
          </div>
<br/>
          <button class="btn-goback" onclick="history.back()">Volver</button>
  
      </div>
   
</body>
</html>
